{% set url_sgi = 'http://179.49.60.158:5000/sgi/cordovez/' %}
<div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cubes fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{infoBase.orders}} <br> Pedidos</div>
                                    <div>Módulo de Pedidos</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{rute_url}}pedido/listar/">
                            <div class="panel-footer">
                                <span class="pull-left">Listar Pedidos</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"> {{infoBase.suppliers}} <br>
                                     Proveedores</div>
                                    <div>Módulo Proveedores</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{sgi_url}}admin/suppliers/supplier/">
                            <div class="panel-footer">
                                <span class="pull-left">Lista de Provedores</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cube fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{infoBase.products}} <br> 
                                    Productos</div>
                                    <div>Módulo de Productos</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{rute_url}}producto/listar/">
                            <div class="panel-footer">
                                <span class="pull-left">Listar Productos</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-usd fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{infoBase.incoterms}} <br> Justificaciones</div>
                                    <div>Módulo de Justificaciones</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ rute_url }}facturapagos/">
                            <div class="panel-footer">
                                <span class="pull-left">Listar Provisiones</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-report">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-table fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">8<br> Reportes</div>
                                    <div>Módulo de Reportes</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{rute_url}}reportes/">
                            <div class="panel-footer">
                                <span class="pull-left" style="color:#8E44AD">Lista de Reportes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-sap">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-retweet fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">                                
                                    <div class="huge"> 0 <br>
                                     Pedidos SAP</div>
                                    <div>Módulo Importación SAP</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{rute_url}}importar/">
                            <div class="panel-footer">
                                <span class="pull-left">Verificar Pedidos</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                </div>
