{% set etiquetas_fiscales = 0%}
{% set tasa_de_control = 0 %}
{% for expense in prorrateos.prorrateo_detail %}
{%  if expense.concepto == 'ETIQUETAS FISCALES'  %}
{% set etiquetas_fiscales = expense.valor_prorrateado %}
{% endif %}
{%  if expense.concepto == 'TASA DE SERVICIO ADUANERO'  %}
{% set tasa_de_control = expense.valor_prorrateado %}
{% endif %}
{% endfor %}
<div class="row">
   <div class="col-md-4">
      <div class="text-tittle">Par&aacute;metros compatidos por el parcial </div>
      <table class="table table-condensed table-bordered table-hover">
         <thead>
            <tr>
               <th>Concepto</th>
               <th>Valores</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td class="text-right brackground-gray"><strong>Nro Facturas Infomativas</strong></td>
               <td class="text-right">{{ init_data.info_invoices | length  }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Moneda</strong></td>
               <td class="text-right"> {{ init_data.order_invoices.0.moneda }} </td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Tipo de Cambio</strong></td>
               <td class="text-right">{{ init_data.parcial.tipo_cambio | number_format(6,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>FOB</strong></td>
               <td class="text-right">$ {{ prorrateos.prorrateo.fob_parcial | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Porcentaje del Total</strong></td>
               <td class="text-right"> {{ (prorrateos.prorrateo.porcentaje_parcial) * 100 | number_format(2,',','.') }}%</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Porcentaje Acumulado</strong></td>
               <td class="text-right"> {{ (prorrateos.prorrateo.porcentaje_sumado) * 100 | number_format(2,',','.') }}%</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Flete Aduana</strong></td>
               <td class="text-right">$ {{ prorrateos.prorrateo.prorrateo_flete_aduana | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Descuento Exaduana</strong></td>
               <td class="text-right">$ {{ taxes_product.exoneracion_exaduana | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Seguro Aduana</strong></td>
               <td class="text-right">$ {{ prorrateos.prorrateo.prorrateo_seguro_aduana | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong> Etiquetas Fiscales</strong></td>
               {% if init_data.parcial.bg_have_etiquetas_fiscales == 1%}
               <td class="text-right">$ {{ etiquetas_fiscales | number_format(2,',','.') }}</td>
               {% else %}
               <td class="text-right text-warning">Sin Etiquetas</td>
               {% endif %}
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong> Tasa de Servicio Aduanero</strong></td>
               {% if init_data.parcial.bg_have_tasa_control == 1%}
               <td class="text-right">$ {{ tasa_de_control | number_format(2,',','.') }}</td>
               {% else %}
               <td class="text-right text-warning">Sin Tasa de Control</td>
               {% endif %}
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Otros Impuestos</strong></td>
               <td class="text-right">$ {{ init_data.parcial.otros | number_format(2,',','.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Base Arancel Específico</strong></td>
               <td class="text-right">{{ parcial_taxes.0.params_taxes['ICE ESPECIFICO'] | number_format(2, ',', '.') }}</td>
            </tr>
            <tr>
               <td class="text-right brackground-gray"><strong>Base Advalorem</strong></td>
               <td class="text-right">{{ parcial_taxes.0.params_taxes['BASE ADVALOREM'] | number_format(2, ',', '.') }}</td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="col-md-8">
      <div class="text-tittle">
         Parámetros de Calculo Impuestos
      </div>
      <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10">
            {% include '/sections/subsections/tabs_container_taxes_params.html.twig' %}
         </div>
         <div class="col-md-1"></div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <div class="table-responsive">
         <table class="table table-condensed table-bordered table-hover table-striped">
            <tr>
               <th>#</th>
               <th>Producto</th>
               <th>Cajas</th>
               <th>Unds</th>
               <th>Costo Caja </th>
               <th>FOB </th>
               <th>Seguro A</th>
               <th>Flete A</th>
               <th>CIF</th>
               <th>Fodinfa</th>
               <th>Etiquetas Fiscales</th>
               <th>Tasa Control</th>
               <th>Otros</th>
               <th>Exaduana </th>
               <th>Exaduana U</th>
               <th>B Advalorem</th>
               <th>Presentacion</th>
               <th>% Alch</th>
               <th>Arancel Esp U</th>
               <th>Arancel Adv U</th>
               <th>ICE Especifico</th>
               <th>ICE Avalorem</th>
               <th>ICE U</th>
               <th>Total ICE</th>
               <th>Prorrateos</th>
               <th>Total Costo</th>
               <th>Costo Caja</th>
               <th>Costo Botella</th>
            </tr>
            {% set costo_total = 0 %}
            {% set cajas_total = 0 %}
            {% set etiquetas_total = 0 %}
            {% set total_prorrateos = 0 %}
            {% set tasa_total = 0 %}
            {% set unidades_total = 0 %}
            {% set fob_total = 0 %}
            {% set cif_total = 0 %}
            {% set fodinfa_total = 0 %}
            {% set ice_advalorem = 0 %}
            {% set ice_especifico = 0 %}            
            {% for tax in parcial_taxes  %}
            {% set costo_total_item =  (tax.taxes_product.prorrateos_item + tax.taxes_product.fodinfa + tax.cif_item.fob + tax.taxes_product.ice_especifico + tax.taxes_product.ice_advalorem) %}
            {% set fob_total = fob_total +  tax.cif_item.fob %}
            {% set cif_total = cif_total +  (tax.cif_item.fob + tax.cif_item.seguro_aduana + tax.cif_item.flete_aduana) %}
            {% set total_prorrateos =  total_prorrateos + tax.taxes_product.prorrateos_item %}
            {% set costo_total = costo_total +  costo_total_item   %}
            {% set etiquetas_total = etiquetas_total + tax.taxes_product.etiquetas_fiscales %}
            {% set tasa_total = tasa_total +  tax.taxes_product.tasa_servicio_aduanero %}
            {% set fodinfa_total = fodinfa_total + tax.taxes_product.fodinfa %}
            {% set ice_advalorem = ice_advalorem +  tax.taxes_product.ice_advalorem %}
            {% set ice_especifico = ice_especifico + tax.taxes_product.ice_especifico %}
            {% set cajas_total = cajas_total + tax.product.nro_cajas %}
            {% set unidades_total = unidades_total + tax.product.unidades %}
            <td> {{ loop.index }} </td>
            <td nowrap>{{ tax.product.producto }}</td>
            <td class="text-right">{{ tax.product.nro_cajas | number_format(0)}}</td>
            <td class="text-right">{{ tax.product.unidades | number_format(0) }}</td>
            <td class="text-right">{{ tax.product.costo_caja | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.cif_item.fob | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.cif_item.seguro_aduana | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.cif_item.flete_aduana | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ (tax.cif_item.fob + tax.cif_item.seguro_aduana + tax.cif_item.flete_aduana) | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.taxes_product.fodinfa | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.taxes_product.etiquetas_fiscales | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.taxes_product.tasa_servicio_aduanero | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.taxes_product.otros | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.taxes_product.exaduana | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ (tax.taxes_product.exaduana / tax.product.unidades) | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.taxes_product.base_advalorem | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.product.capacidad_ml }}</td>
            <td class="text-right">{{ tax.product.grado_alcoholico | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ (tax.taxes_product.ice_especifico / tax.product.unidades) | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ (tax.taxes_product.ice_advalorem  / tax.product.unidades) | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.taxes_product.ice_especifico | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.taxes_product.ice_advalorem | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{((tax.taxes_product.ice_especifico + tax.taxes_product.ice_advalorem) / tax.product.unidades) | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{(tax.taxes_product.ice_especifico + tax.taxes_product.ice_advalorem) | number_format(2, ',', '.') }}</td>
            <td class="text-right">{{ tax.taxes_product.prorrateos_item | number_format(2, ',', '.') }}</td>
            <td class="text-right">
               {{  costo_total_item | number_format(2, ',', '.') }}
            </td>
            <td class="text-right">{{  (costo_total_item / tax.product.nro_cajas )| number_format(2, ',', '.') }}</td>
            <td class="text-right">{{  (costo_total_item / tax.product.unidades) | number_format(2, ',', '.') }}</td>
            {% endfor %}            
            <tr style="background-color:#2E86C1; color:#fff; font-weight:bold;">
               <td colspan="2">Sumas:</td>
               <td>{{ cajas_total  }}</td>
               <td>{{ unidades_total }}</td>
               <td></td>
               <td>{{ fob_total | number_format(2,',','.') }}</td>
               <td colspan="2"></td>
               <td>{{ cif_total | number_format(2,',','.') }}</td>
               <td>{{ fodinfa_total | number_format(2,',','.') }}</td>
               <td> {{ etiquetas_total | number_format(2,',','.') }}</td>
               <td>{{ tasa_total | number_format(2,',','.') }}</td>
               <td colspan="8"></td>
               <td>{{ ice_especifico | number_format(2,',','.') }}</td>
               <td>{{ ice_advalorem | number_format(2,',','.')}}</td>
               <td></td>
               <td>
                  {{ (ice_especifico + ice_advalorem ) | number_format(2,',','.') }}
               </td>
               <td> {{ total_prorrateos | number_format(2,',','.')}}</td>
               <td> {{ costo_total | number_format(2,',','.')}}</td>
               <td></td>
               <td></td>
            </tr>
         </table>
         {% set iva_liquidacion = ((ice_especifico + ice_advalorem + fodinfa_total + cif_total) * 12/100) %}
         <div class="well well-sm" style="font-size: 14px;height: 40px;">
            <span class="col-md-3">
            IVA Liquidación: 
            <strong>{{ iva_liquidacion  | number_format(3,',','.')}}</strong>
            </span>
            <span class="col-md-3">
            ICE Específico Liquidación: 
            <strong>{{ (ice_especifico)  | number_format(3,',','.')}}</strong>
            </span>
            <span class="col-md-3">
            ICE Advalorem Liquidación: 
            <strong>{{ (ice_advalorem)  | number_format(3,',','.')}}</strong>
            </span>
            <span class="col-md-3">
            Total Liquidación: 
            <strong>{{ (ice_especifico + ice_advalorem + fodinfa_total + iva_liquidacion)  | number_format(3,',','.')}}</strong>
            </span>
         </div>
      </div>
   </div>
</div>
<br>
<div class="row">
   <div class="col-md-6"></div>
   <div class="col-md-6 text-right">
      {% if init_data.parcial.bg_isliquidated == 0 %}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#myModal">
      <span class="fa fa-check">
      </span>
      Aplicar Liquidación
      </button>
      {% else %}
      <a href="#" class="btn btn-sm btn-default"> <span class="fa fa-check"></span> Ver Reliquidación </a>
      {% endif %}
      <a href="{{rute_url}}parcial/presentar/{{init_data.parcial.id_parcial}}" class="btn btn-sm btn-default"> <span class="fa fa-arrow-left"></span> Volver A Parcial</a>
   </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Valores Cancelados</h4>
         </div>
         <div class="modal-body" style="padding:25px;">
            <form action="{{ base_url }}impuestos/">
               <div class="row">
                  <div class="col-md-12">
                     <h5 class="text-primary">
                     Verifique los valores presentados en el siguiente formulario
                     </h5>
                  </div>
               </div>
               <br />
               <div class="row">
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>Fodinfa</label>
                        <input type="text" name="fodinfa" class="form-control" value="{{ fodinfa_total | number_format(3,'.',',')}}" readonly="readonly" step="001"/>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>Fodinfa Pagado</label>
                        <input type="number" name="fodinfa_pagado" id="fodinfa_pagado" class="form-control" value="{{ fodinfa_total | number_format(3,'.','') }}" required="required" step="001"/>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="">Diferencia Fodinfa</label>
                        <input type="number" step="001" id="diferencia_fodinfa" value="0" class="form-control" readonly="readonly"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>ICE Advalorem</label>
                        <input type="text" class="form-control pull-rigth" value="{{ ice_advalorem | number_format(3,'.',',') }}" readonly="readonly" name="ice_advalorem" step="001"/>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>ICE Advalorem Pagado </label>
                        <input type="number" class="form-control pull-rigth" value="{{ ice_advalorem | number_format(3,'.','') }}" name="ice_advalorem_pagado" id="ice_advalorem_pagado" required="required" step="001"/>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="diferencia">Diferencia ICE Advalorem</label>
                        <input type="text" readonly="readonly" id="direferencia_ice_advalorem" class="form-control" value="0" step="001"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>ICE Específico</label>
                        <input type="text" class="form-control pull-rigth" value="{{ ice_especifico | number_format(3,'.',',') }}" readonly="readonly" name="ice_especifico" step="001"/>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>ICE Específico Pagado </label>
                        <input type="number" class="form-control pull-rigth" value="{{ ice_especifico | number_format(3,'.','') }}" name="ice_especifico_pagado" id="ice_especifico_pagado" required="required" step="001"/>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>Diferencia ICE Específico</label>
                        <input type="text" readonly="readonly" id="direferencia_especifico" class="form-control" value="0" step="001"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>IVA </label>
                        <input type="text" class="form-control pull-rigth" value="{{ iva_liquidacion | number_format(3,'.',',') }}" readonly="readonly" name="iva" step="001"/>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>IVA Pagado </label>
                        <input type="number" class="form-control pull-rigth" value="{{ iva_liquidacion | number_format(3,'.','') }}" name="iva_pagado" id="iva_pagado" required="required" step="001"/>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>Diferencia ICE Específico</label>
                        <input type="text" readonly="readonly" id="direferencia_iva" class="form-control" value="0" step="001"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <strong class="text-danger">Totales</strong>
                     <hr />
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>Autoliquidación</label>       
                        <input type="text" class="text-primary" value="{{ (ice_especifico + ice_advalorem + fodinfa_total + iva_liquidacion)  | number_format(3,',','.')}}" readonly="readonly"/>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>Autoliquidación Pagada</label>       
                        <input type="number" class="text-warning" value="{{ (ice_especifico + ice_advalorem + fodinfa_total + iva_liquidacion)  | number_format(3,'.','')}}" readonly="readonly" id="autoliquidacion"/>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label>Diferencias</label>       
                        <input type="text" class="text-danger"  readonly="readonly" value="0" id="total_diferencias"/>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm"> 
            <span class="fa fa-check"></span>
            Confirmar y continuar
            </button>
         </div>
      </div>
   </div>
</div>

<script>
/**
* Maneja los totales de la liquidacion en los formularios
*/

var fodinfa =  parseFloat({{ fodinfa_total | number_format(3,'.','') }});
var ice_advalorem = parseFloat({{ ice_advalorem | number_format(3,'.','') }});
var ice_especifico = parseFloat({{ ice_especifico | number_format(3,'.','') }});
var iva = parseFloat({{ iva_liquidacion | number_format(3,'.','') }});
var total_liquidacion = parseFloat( {{ (iva_liquidacion + fodinfa_total + ice_advalorem + ice_especifico  )| number_format(3,'.','')}} );
var total_diferencias = 0.0;

$('#fodinfa_pagado').keyup(function(){
    var new_fodinfa = parseFloat($('#fodinfa_pagado').val());
    var diferencia = Math.round((fodinfa - new_fodinfa) * 1000) / 1000;
    $('#diferencia_fodinfa').val(diferencia);
    actualizarTotales();
});

$('#ice_advalorem_pagado').keyup(function(){
    var new_advalorem = parseFloat($('#ice_advalorem_pagado').val());
    var diferencia = Math.round((ice_advalorem - new_advalorem) * 1000) / 1000;
    $('#direferencia_ice_advalorem').val(diferencia);
    actualizarTotales();
});

$('#ice_especifico_pagado').keyup(function(){
    var new_ice_especifico_pagado = parseFloat($('#ice_especifico_pagado').val());
    var diferencia = Math.round((ice_especifico - new_ice_especifico_pagado) * 1000) / 1000;
    $('#direferencia_especifico').val(diferencia);
    actualizarTotales();
});

$('#iva_pagado').keyup(function(){
    var new_iva_pagado = parseFloat($('#iva_pagado').val());
    var diferencia = Math.round((iva - new_iva_pagado) * 1000) / 1000;
    $('#direferencia_iva').val(diferencia);
    actualizarTotales();
});

/**
* Actualiza los totales del formulario
*/
function actualizarTotales(){
    total_diferencias = (
        parseFloat($('#diferencia_fodinfa').val()) + 
        parseFloat($('#direferencia_ice_advalorem').val()) + 
        parseFloat($('#direferencia_especifico').val()) + 
        parseFloat($('#direferencia_iva').val())
        )
    
    $('#autoliquidacion').val( 
        Math.round((total_liquidacion - total_diferencias) * 1000) / 1000
        );

    $('#total_diferencias').val(total_diferencias);
}
</script>

<script>
/**
* Envia un formulario al hacer click sobre el
*/

$('#update_tasa').change(function(){
    $('#parcial_form').submit();
});

$('#update_etiquetas').change(function(){
    $('#parcial_form').submit();
});


</script>

<script>
   var base_advalorem = {{base_advalorem | number_format(3,'.')}}
   $('#total_base_av').text(base_advalorem)	
   
   $('#descuento').text('(' + (($('#exoneracion_arancel').val()) * base_advalorem)/100 + ')') 
    
   $('#exoneracion_arancel').keyup(function(){
   	
   	value = ((($('#exoneracion_arancel').val()) * base_advalorem)/100)
   	$('#descuento').text('(' + value + ')')
   		
   	})	
</script>