<div class="well well-sm">
   <div class="row">
      <div class="col-sm-6">
         <strong>Proveedor:</strong> <span class="text-success">  {{ supplier.nombre }}</span>
      </div>
      <div class="col-sm-2">
         <strong>Valor:</strong> $ {{ invoice.valor }}
      </div>
      <div class="col-sm-2">
         <strong>Factura:</strong> <span class="text-danger"># {{ invoice.nro_factura  }}</span>
      </div>
      <div class="col-sm-2">
         <strong>Fecha:</strong> <span class="text-info">
         {{ invoice.fecha_emision }}
      </span>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-4">
         <strong>Categoria Proveedor:</strong> <span>
            {{ supplier.categoria }}
         </span>
      </div>
      <div class="col-sm-2">
         <strong>Saldo:</strong> <span>{{invoice.saldo}}</span>
      </div>
      <div class="col-sm-3">
         <strong>Fecha Registro:</strong> {{ invoice.date_create }}
      </div>
      <div class="col-sm-3">
         <strong>Creado Por:</strong> <span>{{ userdata.nombres }}</span>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-6">
      <a href="" class="btn btn-sm btn-default">
         <span class=""></span>
         Agregar Detalle
      </a>
   </div>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
</div>
<div class="form-in-line">
   <div class="row">
         <form action="{{rute_url}}/" method="POST">
      <div class="col-sm-5">
         <div class="form-group">
               <label for="concepto">Concepto</label>
               <input 
               type="text" 
               maxlength="50" 
               required="required" 
               name="concepto" 
               class="form-control"
               placeholder="Descripción"
               >
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <label>Valor</label>
               <input 
               class="form-control" 
               type="number" 
               name="valor"
               required="required" 
               step="0.01"                
               >
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <label>Pedido Nro</label>
            <select
            class = "form-control"
            name ="nro_pedido"
            id = "nro_pedido"
            required = "required"            
            >
            <option selected="" disabled="">Seleccione</option>               
            </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <label>Fecha Inicio</label>
            </div>
         </div>
         </form>
   </div>
   </div>
   <br>
   <div class="row">
      <div class="col-sm-12">
         <table class="table table-striped table-hover table-bordered">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Cocepto</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Fin</th>
                  <th>Valor</th>
                  <th>Saldo</th>
                  <th>Pedido</th>
                  <th>Acciones</th>
               </tr>
            </thead>
            <tbody>
               {% for detail in detailsInvoice %}
                  <tr>
                     <td>{{loop.index}}</td>
                  <td>{{detail.concepto}}</td>
                  <td>{{detail.fecha_inicio}}</td>
                  <td>{{detail.fecha_fin}}</td>
                  <td>{{detail.valor}}</td>
                  <td>{{detail.saldo}}</td>
                  <td>{{detail.pedido}}</td>
                  <td>hola</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>   
   </div>
