<div class="well well-sm">
   <div class="row">
      <div class="col-sm-3">
         <strong>Valor FOB Total:</strong> 
         <span class="text-primary">
         <strong>
         $ {{ stock_order.global.initial | number_format(2, '.', ',') }}      
         </strong>
         </span>  
      </div>
      <div class="col-sm-3">
         <strong>
         FOB Nacionalizado:</strong> 
         <span class="text-primary">
         <strong>
         $ {{ (stock_order.global.initial - stock_order.global.current) | number_format(2, '.', ',') }}      
         </strong>
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         Valor FOB Saldo:</strong> 
         <span class="text-primary">
         <strong>
			${{ stock_order.global.current | number_format(2, '.', ',') }}      
         </strong>
         </span>
      </div>
      <div class="col-sm-3">
         <strong>
         Intotem/Regimen:</strong>
         <span class="text-primary">   
         {{ order.incoterm }} / {{ order.regimen }}
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <strong>Nro Referendo:</strong>          
         <span>
         {{ order.nro_refrendo }}
         </span>
      </div>
      <div class="col-sm-3">
         <strong>Fecha Arribo:</strong> 
         <span class="text-warning">
         {{ order.fecha_arribo }}
         </span>
      </div>
      <div class="col-sm-3">
         <strong>Fecha Cierre:</strong> 
         <span class="text-primary">
         {{ order.fecha_cierre }}
         </span>
      </div>
      <div class="col-sm-3">
         <strong>Puerto:</strong> <span> {{order.ciudad_origen}} / {{ order.pais_origen }} </span>
      </div>
   </div>
</div>
<div class="row">
<div class="col-md-6">
<ol class="breadcrumb" style="color: #111;">
  <li class="{{ order_report.where_is.buque }}"> <span class="fa fa-ship"></span> Buque</a></li>
  <li class="{{ order_report.where_is.puerto }}"> <span class="fa fa-simplybuilt"></span> Puerto</li>
  <li class="{{ order_report.where_is.transporte }}"> <span class="fa fa-truck"></span> Transporte</li>
  {% if order.regimen == 70 %}
  	<li class="{{ order_report.where_is.almacenera }}"> <span class="fa fa-fort-awesome"></span>Almacenera</li>
  {% endif %}
  <li class="{{ order_report.where_is.cordovez }}"> <span class="fa fa-home"></span> Cordovez</li>
  <li> 
    <span class="fa fa-calendar"></span> Ingr. Almacenera
    <strong>
      {% if(order.fecha_ingreso_almacenera != null) %}
      {{ order.fecha_ingreso_almacenera | date('d/m/Y')  }}
      {% else %}
      Pendiente
      {% endif %}
    </strong>
  </li>
</ol>
</div>
<div class="col-md-6 text-right">
		<a href="{{rute_url}}gstinicial/validargi/{{order.nro_pedido}}" class="btn btn-primary btn-sm">
				<span class="fa fa-gear"></span> Gastos Iniciales
		</a>
		{% if order.bg_isliquidated == 0 and order.bg_haveExpenses == 0 %}
    		<a href="{{rute_url}}pedido/editar/{{order.nro_pedido}}" class="btn btn-default btn-sm">
    				<span class="fa fa-pencil fa-fw"></span>Editar Pedido
    		</a>  
		{% endif %}
		<a href="{{ rute_url }}report/gastosiniciales/{{ order.nro_pedido }}" target="_blank" class="btn btn-sm btn-primary">
     <span class="fa fa-file-pdf-o"></span> Reporte GI
      </a>
		
</div>
	</div>
<!-- Tabs -->
<div>
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#pedido" role="tab" data-toggle="tab" aria-controls="pedido">Detalle Pedido &nbsp;
         {% if order.bg_isclosed == '0' %}
        	 <span class="label label-success"><span class="fa fa-folder-open-o"></span> Abierto</span>
         {% endif %}
          
         {% if order.bg_isclosed == '1' %}
        	 <span class="label label-died"><span class="fa fa-folder-o"></span> Cerrado</span>
         {% endif %}
         
         {% if order. bg_haveExpenses == '1' %}
         	 <span class="label label-died"><span class="fa fa-lock"></span>&nbsp;</span>
         {% endif %}
         
         </a>
      </li>
      
      <li role="presentation" {% if order.regimen == 10 %} class="active" {% endif %}>
      	<a href="#facturas" role="tab" data-toggle="tab" aria-controls="facturas">
      	<span class="fa fa-file"></span> Facturas Productos</a>
      </li>
      {% if order.regimen == '70' %}
      <li role="presentation" class="active">
      	<a href="#facturas-informativas" role="tab" data-toggle="tab" aria-controls="facturas-informativas">
      		<span class="fa fa-list-ol"></span> Parciales del Pedido
      	</a>
      </li>
      {%  endif %}
            <li role="presentation">
         <a href="#saldos" role="tab" data-toggle="tab" aria-controls="saldos">
            <span class="fa fa-bar-chart-o"></span> Saldo Pedido
         </a>
      </li>
   </ul>
   <br>
   <div class="tab-content">
      <!-- tabPedidoDetalle-->
      <div role="tabpanel" id="pedido" class="tab-pane">
         {% include 'sections/subsections/tab-detalle-pedido.html.twig' %}
      </div>
      <!-- /tabPedidoDetalle-->
      <!-- tabFacturas-->
      <div role="tabpanel" class="tab-pane{% if order.regimen == 10 %} active {% endif %}" id="facturas">
         {% include 'sections/subsections/tab-facturas-productos-pedido.html.twig' %}            
      </div>
      <!-- /Tab Facturas-->      
       {% if order.regimen == 70 %}
     <!-- factura Informativas -->
      <div role="tabpanel" class="tab-pane active" id="facturas-informativas">
         {% include 'sections/subsections/tab-facturas-informativas.html.twig' %}            
      </div>
      <!-- /factura Informativas -->
     {% endif %}
      <!-- Tab Facturas Saldos -->
      <div role="tabpanel" class="tab-pane" id="saldos">
      <div class="row">
      	<div class="col-md-8">
      	<canvas id="chart"></canvas>
      	</div>
      	<div class="col-md-4">
      	<div class="text-tittle">Saldo de Productos</div>
            <table class="table table-bordered table-hover table-condensed table-striped ">
            <thead>
            <tr>
        	<th>Producto</th>
        	<th>Imp</th>
        	<th>Nac</th>
        	<th>Stock C</th>
        	<th>Stock U</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            {% set totalItems = 0 %}
            {% set totalUnds = 0 %}
            
            {% for product in stock_order.current %}
            {% set totalItems = totalItems + product.stock  %}
            {% set totalUnds = totalUnds + (product.stock * product.cantidad_x_caja)  %}
            
            <tr>
		        <td>{{ product.nombre }} (x {{ product.cantidad_x_caja }})</td>
		        <td class="text-right">{{ product.nro_cajas }}</td>
		        <td class="text-right">{{ product.nationalized }}</td>
		        <td class="text-right success"> <strong class="text-success">{{ product.stock }} </strong></td>
		        <td class="text-right success"> <strong class="text-success">{{ product.stock * product.cantidad_x_caja }} </strong></td>
		     </tr>
            {% endfor %}
            </tr>
            
            <tr style="background-color:#2E86C1; color:#fff; font-weight:bold;">
            <td colspan="3" class="text-right">SUMAS: &nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td class="text-right">{{ totalItems }}</td>
            <td class="text-right">{{ totalUnds }}</td>            
          </tr>
            </tbody>
            </table>      	
      	</div>
      	
      </div>      
      </div>
      {% if id_user == 1 %}
      <a class="btn btn-sm btn-danger" href="{{ rute_url }}pedido/eliminar/{{ order.nro_pedido }}"> <span class="fa fa-warning"></span> Eliminar Pedido</a>
      <!-- /Tab Facturas Servicios -->
	{%  endif %}
   </div>
</div>
<!--/tabs-->


<script type="text/javascript">

var ctx = document.getElementById("chart").getContext('2d');
var barChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [{% for product in stock_order.current %}'{{ product.nombre }} ({{ product.nro_cajas }} / {{ product.stock }}) ',{% endfor %}],
    datasets: [{
      label: 'Cajas Importadas',
      data: [{% for product in stock_order.current %}{{ product.nro_cajas }},{% endfor %}],
      backgroundColor: "rgba(93, 144, 44, 0.9)"
    }, {
      label: 'Saldo Cajas',
      data: [{% for product in stock_order.current %}{{ product.stock }},{% endfor %}],
      backgroundColor: "rgba(247, 165, 37, 0.9)"
    }]
  }
});
</script>