{% include 'base/header.html.twig' %}
{% include 'base/navbarheader.html.twig' %}
{% include 'base/navbarleft.html.twig' %}
{% include 'base/content.html.twig' %}




{% if validateExpenses == true %}
	{% include 'sections/validar-pedido.html.twig' %}
{% endif %}

{% if show == true %}
	{% include 'sections/mostrar-gasto-inicial.html.twig' %}
{% endif %}


{% if create == true %}
	{% include 'forms/frm-gasto-inicial.html.twig' %}    
{% endif %}

{% if edit == true %}
	{% include 'forms/frm-gasto-inicial-edit.html.twig' %}    
{% endif %}

{% if validateInitialWarenhouse == true %}
	{% include 'forms/frm-validar-bodega-inicial.html.twig' %}
{% endif %}



{% if viewMessage == true %}
	<div class="well">
		<h3 class="text-primary">	{{ message }} </h3>
		<br><br>
		<p>
			{% if deleted == true %} 
						<a href="{{rute_url}}pedido/presentar/{{order}}">
				<button>
					<span class="fa fa-list"></span>
					Ver
				</button>
				</a>
			{% else %}  
				<a href="{{rute_url}}pedido/presentar/{{order}}">
		<button>
			<span class="fa fa-eye"></span>
			Ver
		</button>
		</a>
			{% endif %}
		
		</p>
	</div>
{% endif %}

{% include 'base/content_close.html.twig' %}
{% include 'base/signaturefoot.html.twig' %}
{% include 'base/footer.html.twig' %}