<div id="page-wrapper">
<div class="row" style=" height: 50px;">
<div class="title-{{controller}}" style="border-color: #666; border-width: 0.6px; border-style: solid">
         <a class="navbar-brand" style="color: #fff;"> {{ titleContent | raw }} <span class="fa {{iconTitle}} fa-fw pull-left"></span>
      </a>      
</div>
<!-- /.row -->
<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-body">
   {% if fail == true %}
<div class="alert alert-danger">
   <strong> {{message | upper }} </strong>
   <ul>
   {% for field in fields_error %}
      <li> {{field}} </li>    
   {% endfor %}
   </ul>
</div>
{% endif %}