<!DOCTYPE html>
<!-- header -->    
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{{enterprise.url_favicon}}" type="image/x-icon"/>
	  <link rel="shortcut icon" href="{{enterprise.url_favicon}}" type="image/x-icon"/>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aplicacion de Manejo de importaciones">
    <meta name="author" content="Eduardo Villota eduardouio7@gmail.com">
    <title>{{title}}</title>
    <!-- Jauery Autocomplete CSS -->   

    <!-- Bootstrap Core CSS -->
    <link href="{{base_url}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   
   <link rel="stylesheet" type="text/css" href="{{base_url}}vendor/datepicker/css/bootstrap-datepicker.min.css">
    <!-- MetisMenu CSS -->
    <link href="{{base_url}}vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{base_url}}css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{base_url}}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom Styles -->
    <link href="{{base_url}}css/cordovez.css" rel="stylesheet" type="text/css">
    {% if title == 'Reportes' %}
    <!-- jQuery -->
  	<link href="{{ base_url}}css/kingtable.css" rel="stylesheet" type="text/css">
    <link href="{{ base_url}}css/kingtable.clear.css" rel="stylesheet" type="text/css">
    {% endif %}
    {% if vue_app == true %}
    <script src="{{base_url}}vendor/vue/vue.js"></script>    
    <script src="{{base_url}}vendor/vue/vue-resource@1.5.1"></script>   
    <script src="{{base_url}}js/index.js"></script>
    <link rel="stylesheet" href="{{base_url}}css/index.css">
    {% endif %}
    <script src="{{base_url}}vendor/jquery/jquery.min.js"></script>
    <script src="{{base_url}}js/jquery.maskedinput.js"></script>
    <script src="{{base_url}}vendor/jquery/jqueryui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{base_url}}vendor/jquery/jqueryui-min.css"> 
    <script src="{{base_url}}vendor/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script> 
{% if title == 'Reportes' %}
	<script src="{{base_url}}js/es6-promise.js"></script>
  <script src="{{base_url}}js/kingtable.js"></script>
  <!-- for export to excel: -->
  <script src="{{base_url}}js/xlsx.core.min.js" async="async"></script>
  <script src="{{base_url}}js/blob.js" async="async"></script>
  <script src="{{base_url}}js/kingtable.xlsx.js"></script>
  <script src="{{base_url}}js/colors.js"></script>
  {% endif %}
      
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
        </script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
        </script>
        <![endif]-->
</head>