<div class="navbar" style="margin-bottom: 0px">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:#333;" href="{{base_url}}"> <i class="glyphicon glyphicon-globe"></i> &nbsp; {{ enterprise.nombre }}</a>
       <form action="{{ rute_url }}pedido/listar" method="GET" class="navbar-form navbar-left">
        <div class="form-group" style="display:table; width:100%">
          <div class="input-group">
                <div class="input-group custom-search-form">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                  <input type="text" class="form-control" name="nro_pedido" placeholder="Buscar Pedido" autocomplete="off">
                </div>
          </div>
        </div>
      </form>
    </div>
    <div class="navbar-collapse collapse" id="searchbar">
      <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{rute_url}}pedido/listar/"><i class="fa fa-cubes fa-fw"></i> Pedidos</a>
                        </li>
                        <li>
                            <a href="{{rute_url}}facturapagos/"><i class="fa fa-file-text-o fa-fw"></i>Justificaciones</a>
                        </li>
                        <li>
                            <a href="{{enterprise.sgi_url}}" target="_blank"><i class="fa fa-cogs fa-fw"></i> SGI</a>
                        </li>
                        <li>
                            <a href="{{rute_url}}reportes"><i class="fa fa-table fa-fw"></i>Reportes</a>
                        </li>
                        <li>
                          <a href="{{ rute_url}}facturapagos/nuevo"><i class="fa fa-file-text-o fa-fw"></i>N. Factura</a>
                        </li>
                         <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-gear fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{{ rute_url }}userprofile/"><i class="fa fa-user fa-fw"></i> Perfil</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{base_url}}index.php/login/cerrarSesion"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
      </ul>
    </div><!--/.nav-collapse -->
</div>
