<div id="app_liquidaciones">
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel">Detalle de liquidación SENAE parcial {{ ordinal_parcial }} de {{ count_all_parcials }} pedido {{ init_data.order.nro_pedido }} [{{ init_data.order.proveedor }}] </h5>
                </div>
                <div class="modal-body" style="padding:25px;">
                    <div class="row">
                        <table class="table table-bordered table-striped table-hover table-condensed">
                            <tr>
                                <th>Concepto</th>
                                <th>Automático</th>
                                <th>Pagado</th>
                                <th>Diferencias</th>
                                <th>Sts</th>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">ARANCEL ADVALOREM </td>
                                <td class="text-right">
                                    ${ parcial_taxes.sums.arancel_advalorem_pagar | money }
                                </td>
                                <td class="text-right">
                                    <input type="number" class="text-right" v-model= "complete_liquidation_data.arancel_advalorem_pagar_pagado" required="required" step="0.001" v-bind:disabled="parcial_taxes.sums.arancel_advalorem_pagar  <= 0.01">
                                </td>
                                <td class="text-right">
                                    <strong v-bind:class="{ 'text-danger' : (Math.round(Math.abs(parcial_taxes.sums.arancel_advalorem_pagar - complete_liquidation_data.arancel_advalorem_pagar_pagado)*100)/100) > 0.03 }"> ${ (parcial_taxes.sums.arancel_advalorem_pagar -  complete_liquidation_data.arancel_advalorem_pagar_pagado) | money }</strong>
                                </td>
                                <td class="text-center">
                                    <label class="label label-danger" v-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_advalorem_pagar - complete_liquidation_data.arancel_advalorem_pagar_pagado)*100)/100) > 0.03"><i class="fa fa-ban"></i> Error</label>
                                    <label class="label label-warning" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_advalorem_pagar - complete_liquidation_data.arancel_advalorem_pagar_pagado)*100)/100) <= 0.03 && (Math.round(Math.abs(parcial_taxes.sums.arancel_advalorem_pagar - complete_liquidation_data.arancel_advalorem_pagar_pagado)*100)/100) > 0.01"><i class="fa fa-warning"> Diferencia</i></label>
                                    <label class="label label-success" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_advalorem_pagar - complete_liquidation_data.arancel_advalorem_pagar_pagado)*100)/100) <= 0.01"><i class="fa fa-fa-check-circle"></i> OK </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">ARANCEL ESPECIFICO</td>
                                <td class="text-right">
                                    ${ parcial_taxes.sums.arancel_especifico_pagar | money }
                                </td>
                                <td class="text-right">
                                    <input type="number" class="text-right"  v-model="complete_liquidation_data.arancel_especifico_pagar_pagado" required="required" step="0.001" v-bind:disabled="parcial_taxes.sums.arancel_especifico_pagar  <= 0.01"/>
                                </td>
                                <td class="text-right">
                                    <strong v-bind:class="{ 'text-danger' : (Math.round(Math.abs(parcial_taxes.sums.arancel_especifico_pagar - complete_liquidation_data.arancel_especifico_pagar_pagado)*100)/100) > 0.03 }"> ${ (parcial_taxes.sums.arancel_especifico_pagar -  complete_liquidation_data.arancel_especifico_pagar_pagado) | money }</strong>
                                </td>
                                <td class="text-center">
                                    <label class="label label-danger" v-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_especifico_pagar - complete_liquidation_data.arancel_especifico_pagar_pagado)*100)/100) > 0.03"><i class="fa fa-ban"></i> Error</label>
                                    <label class="label label-warning" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_especifico_pagar - complete_liquidation_data.arancel_especifico_pagar_pagado)*100)/100) <= 0.03 && (Math.round(Math.abs(parcial_taxes.sums.arancel_especifico_pagar - complete_liquidation_data.arancel_especifico_pagar_pagado)*100)/100) > 0.01"><i class="fa fa-warning"> Diferencia</i></label>
                                    <label class="label label-success" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.arancel_especifico_pagar - complete_liquidation_data.arancel_especifico_pagar_pagado)*100)/100) <= 0.01"><i class="fa fa-fa-check-circle"></i> OK </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">FONFINFA</td>
                                <td class="text-right"> ${ parcial_taxes.sums.fodinfa | money }</td>
                                <td class="text-right">
                                    <input type="number" v-model="complete_liquidation_data.fodinfa_pagado" required="required" step="0.001" class="text-right" />
                                </td>
                                <td class="text-right">
                                    <strong v-bind:class="{ 'text-danger' : (Math.round(Math.abs(parcial_taxes.sums.fodinfa - complete_liquidation_data.fodinfa_pagado)*100)/100) > 0.03 }"> ${ (parcial_taxes.sums.fodinfa -  complete_liquidation_data.fodinfa_pagado) | money }</strong>
                                </td>
                                <td class="text-center">
                                    <label class="label label-danger" v-if="(Math.round(Math.abs(parcial_taxes.sums.fodinfa - complete_liquidation_data.fodinfa_pagado)*100)/100) > 0.03"><i class="fa fa-ban"></i> Error</label>
                                    <label class="label label-warning" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.fodinfa - complete_liquidation_data.fodinfa_pagado)*100)/100) <= 0.03 && (Math.round(Math.abs(parcial_taxes.sums.fodinfa - complete_liquidation_data.fodinfa_pagado)*100)/100) > 0.01"><i class="fa fa-warning"> Diferencia</i></label>
                                    <label class="label label-success" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.fodinfa - complete_liquidation_data.fodinfa_pagado)*100)/100) <= 0.01"><i class="fa fa-fa-check-circle"></i> OK </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">ICE ADVALOREM</td>
                                <td class="text-right">
                                    ${ parcial_taxes.sums.ice_advalorem | money }
                                </td>
                                <td class="text-right">
                                    <input class="text-right" type="number" v-model="complete_liquidation_data.ice_advalorem_pagado" @change="checkItems()" required="required" step="0.001" />
                                </td>
                                <td class="text-right">
                                    <strong v-bind:class="{ 'text-danger' : (Math.round(Math.abs(parcial_taxes.sums.ice_advalorem - complete_liquidation_data.ice_advalorem_pagado)*100)/100) > 6 }"> ${ (parcial_taxes.sums.ice_advalorem -  complete_liquidation_data.ice_advalorem_pagado) | money }</strong>
                                </td>
                                <td class="text-center">
                                    <label class="label label-danger" v-if="(Math.round(Math.abs(parcial_taxes.sums.ice_advalorem - complete_liquidation_data.ice_advalorem_pagado)*100)/100) > 6"><i class="fa fa-ban"></i> Error</label>
                                    <label class="label label-warning" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.ice_advalorem - complete_liquidation_data.ice_advalorem_pagado)*100)/100) <= 6 && (Math.round(Math.abs(parcial_taxes.sums.ice_advalorem - complete_liquidation_data.ice_advalorem_pagado)*100)/100) > 0.01"><i class="fa fa-warning"> Diferencia</i></label>
                                    <label class="label label-success" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.ice_advalorem - complete_liquidation_data.ice_advalorem_pagado)*100)/100) <= 0.01"><i class="fa fa-fa-check-circle"></i> OK </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">ICE ESPECIFICO</td>
                                <td class="text-right">
                                    ${ parcial_taxes.sums.ice_especifico | money }
                                </td>
                                <td class="text-right">
                                    <input  class="text-right" type="number" v-model="complete_liquidation_data.ice_especifico_pagado" required="required" step="0.001" />
                                </td>
                                <td class="text-right">
                                    <strong v-bind:class="{ 'text-danger' : (Math.round(Math.abs(parcial_taxes.sums.ice_especifico - complete_liquidation_data.ice_especifico_pagado)*100)/100) > 6 }"> ${ (parcial_taxes.sums.ice_especifico -  complete_liquidation_data.ice_especifico_pagado) | money }</strong>
                                </td>
                                <td class="text-center">
                                    <label class="label label-danger" v-if="(Math.round(Math.abs(parcial_taxes.sums.ice_especifico - complete_liquidation_data.ice_especifico_pagado)*100)/100) > 0.03"><i class="fa fa-ban"></i> Error</label>
                                    <label class="label label-warning" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.ice_especifico - complete_liquidation_data.ice_especifico_pagado)*100)/100) <= 0.03 && (Math.round(Math.abs(parcial_taxes.sums.ice_especifico - complete_liquidation_data.ice_especifico_pagado)*100)/100) > 0.01"><i class="fa fa-warning"> Diferencia</i></label>
                                    <label class="label label-success" v-else-if="(Math.round(Math.abs(parcial_taxes.sums.ice_especifico - complete_liquidation_data.ice_especifico_pagado)*100)/100) <= 0.01"><i class="fa fa-fa-check-circle"></i> OK </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-primary text-right">IVA</td>
                                <td class="text-right">
                                    ${ parcial_taxes.sums.iva | money }
                                </td>
                                <td class="text-right">
                                	${ parcial_taxes.sums.iva | money }
                                </td>
                                <td class="text-right">
                                	0.00
                                </td>
                                <td class="text-center">
                                    <label class="label label-success"><i class="fa fa-fa-check-circle"></i> OK </label>
                                </td>
                            </tr>
                            <tr style="background-color:rgb(250, 255, 181)">
                                <th class="text-primary text-right">TOTALES</th>
                                <th class="text-right">
                                    <span class="text-primary number form-control" disabled="disabled">
                                    $ ${ 
                                      (parcial_taxes.sums.arancel_advalorem_pagar 
                                    + parcial_taxes.sums.arancel_especifico_pagar
                                    + parcial_taxes.sums.fodinfa
                                    + parcial_taxes.sums.ice_especifico
                                    + parcial_taxes.sums.ice_advalorem
                                    + parcial_taxes.sums.iva) | money
                                    }
                                    </span>
                                </th>
                                <th class="text-right">
                                    <span class="text-primary number form-control" disabled="disabled">
                                    $ ${ total_tributes | money}
                                    
                                    </span>
                                </th>
                                <th colspan="2"></th>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <strong>ICE Advalorem por ítem:</strong>
                            <table class="table table-bordered table-striped table-condensed">
                                <tr>
                                    <th>#</th>
                                    <th>Producto</th>
                                    <th>Cajas</th>
                                    <th>Und Com</th>
                                    <th>Fonfinfa</th>
                                    <th>ICE Adv</th>
                                    <th>Diferencia</th>
                                </tr>
                                <tr v-for=" (item, index) in liquidations_items ">
                                    <td>${index+1}</td>
                                    <td>${item.product}</td>
                                    <td class="text-right">${item.cajas | int}</td>
                                    <td class="text-right">${item.unidades | int}</td>
                                    <td class="text-right">${item.fodinfa | money}</td>
                                    
                                    <td class="text-right">
                                    <input class="text-right" type="number" step="0.001" v-model="item.ice_advalorem"/>
                                    </td>
                                    <td class="text-right" v-bind:class="{ 'text-danger' : (calcDiff(item)) < 0}">
                                    <strong>
                                    	$ ${ calcDiff(item) }
                                    </strong>
                                    </td>
                                </tr>
                                 <tr style="background-color:rgb(250, 255, 181)">
                                    <th colspan="2" class="text-right">TOTALES (ITEM)</th>
                                    <th class="text-right">${sumLiquidationItems('boxes')}</th>
                                    <th class="text-right">${sumLiquidationItems('bottles')}</th>
                                    <th class="text-right">${sumLiquidationItems('fodinfa')}</th>
                                    <th class="text-right">${sumLiquidationItems('ice_advalorem')}</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="background-color:#eee;">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <label>Fecha Liquidación:</label>
                                    <input type="date" v-model="complete_liquidation_data.fecha_liquidacion" placeholder="dd/mm/yyyy" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nro de Liquidaci&oacute;n</label>
                                <input type="text" v-model="complete_liquidation_data.nro_liquidacion" required="required" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="show_ice_diff">
                    	<div class="col-12 text-danger">
                    	<h5>
                    	 <i class="fa fa-warning"></i>	Error, el Ice Advalorem Total no coincide con el Ice Advalorem por Item, favor revise el prorrateo de los valores
                    	</h5></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary btn-sm" @click="sendLiquidation('partial')">
                        <span class="fa fa-check"></span> Confirmar y continuar
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>