<form action="{{rute_url}}facinfdetalle/validar" method="post">
  <input type="hidden" name="id_factura_informativa"
    value="{{infoInvoice.id_factura_informativa}}">
  <div class="row">
    <div class="col-md-12">
      <h3>
        PRODUCTOS DISPONIBLES EN PEDIDO
        {{ order.nro_pedido }}
        <small class="text-info">Seleccione los que desee agregar a
        la Factura Informativa [ {{ infoInvoice.nro_factura_informativa }}
        ]
        </small>
      </h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      {% for orderInvoice in orderInvoices %}
      <div class="text-tittle">
        Factura Proveedor :
        {{ orderInvoice.supplier.nombre }}
        Nro Factura:
        {{ orderInvoice.id_factura_proveedor }}
      </div>
      <table class="table table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Gr. Alc.</th>
            <th>Nro Cajas</th>
            <th>Cant Caja</th>
            <th>Botellas</th>
            <th>Costo</th>
            <th>Agregar</th>
            <th>Nro Cajas</th>
            <th>Gr. Alc</th>
            <th>Costo</th>
          </tr>
        </thead>
        <tbody>
          {% for product in  orderInvoice.products %}
          <tr>
            <td>{{product.producto}}</td>
            <td class="text-right">{{product.grado_alcoholico}}</td>
            <td class="text-right">{{product.stock}}</td>
            <td class="text-right">{{product.cantidad_x_caja}}</td>
            <td class="text-right">{{ product.stock * product.cantidad_x_caja}}</td>
            <td class="text-right"
              id="costo_caja_{{product.detalle_pedido_factura}}">{{product.costo_caja | number_format(3,".",",")}}</td>
            <td class="pull-right">
              <label class="control control-checkbox">
              <input 
              type="checkbox" 
              class="text-right"
              name="detalle_pedido_factura-{{product.detalle_pedido_factura}}"
              id="detalle_{{product.detalle_pedido_factura}}"
              value="{{product.detalle_pedido_factura}}"
              >
                <div class="control_indicator"></div>                  
</label>
            </td>
            <td class="text-right"><input type="number" step="1"
              class="text-right" id="nro_cajas_{{product.detalle_pedido_factura}}"
              name="nro_cajas-{{product.detalle_pedido_factura}}" value="0"
              disabled></td>
            <td class="text-right"><input type="number" step="0.01"
              class="text-right"
              id="grado_alcholico_{{product.detalle_pedido_factura}}"
              name="grado_alcoholico-{{product.detalle_pedido_factura}}"
              value="{{product.grado_alcoholico}}" disabled>
            </td>
            <td><input disabled="" type="text"
              id="valor_item_{{product.detalle_pedido_factura}}" value="0"
              class="text-right"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      {% endfor %}
    </div>
  </div>
<div class="row">
    <div class="col-md-10">
       <button type="submit" class="btn btn-sm btn-primary">
	      <span class="fa fa-save"></span> Agregar Seleccionados
      </button>
      &nbsp;
      &nbsp;
      <a
        href="{{rute_url}}facinformativa/presentar/{{infoInvoice.id_factura_informativa}}"
        class="btn btn-sm btn-default"> <span class="fa fa-cubes"></span>
      Volver a Factura Informativa
      </a>
    </div>
    
    <div class="col-md-2 text-right">
      <div class="form-group">
        <label> Valor Total</label> <input type="number" id="valor_total"
          disabled="" class="text-right"
          style="color: #a94442; font-weight: bold;">
      </div>
  </div>
  </div>
</form>
<script type="text/javascript">
  	/**
  	* anade un nuevo item value para calcular el total
  	* si existe lo reemplaza
  	*/
  	function addItemValue(item){
  		if (itemsInfoInvoice.length === 0){
  			itemsInfoInvoice.push(item);
  		}else{
  			$.each(itemsInfoInvoice, function(key, val){
  				if(val.idItem === item.idItem ){
  					itemsInfoInvoice.splice(key);
  				}
  					itemsInfoInvoice.push(item);		
  			});
  		}
  		actualizarTotal();
  		calDiferencia();
  	}

  	  function actualizarTotal(){
  	  	var valueTotal = 0;
  	  	$.each(itemsInfoInvoice,function(key,val){
  	  		valueTotal += val.value;
  	  	});
  	  	valueTotal = (Math.round(valueTotal * 100))/100
  		$('#valor_total').val(valueTotal);
  }
  	  
</script>
<script type="text/javascript">
  var maxValueInfoInvoice = parseFloat({{ infoInvoice.valor | number_format('4','.') }});
  var stockProducts = {{ (stockProducts | json_encode()) | raw }};
  var itemsInfoInvoice = [];
</script>
{% for orderInvoice in orderInvoices %}
{% for product in  orderInvoice.products %}
<script type="text/javascript">
  $('#detalle_{{product.detalle_pedido_factura}}').click(function(){
  	if($('#detalle_{{product.detalle_pedido_factura}}').prop('checked')){
  		$('#nro_cajas_{{product.detalle_pedido_factura}}').prop('disabled',false);
  		$('#grado_alcholico_{{product.detalle_pedido_factura}}').prop('disabled',false);
  	}else{
  		$('#nro_cajas_{{product.detalle_pedido_factura}}').prop('disabled',true);
  		$('#grado_alcholico_{{product.detalle_pedido_factura}}').prop('disabled',true);
  		$('#nro_cajas_{{product.detalle_pedido_factura}}').val(0);
  		$('#valor_item_{{product.detalle_pedido_factura}}').val(0);

  		addItemValue({
  			'idItem' : {{ product.detalle_pedido_factura }},
  			'value' : 0,
  		});
  	}
  });
 
  	$('#nro_cajas_{{product.detalle_pedido_factura}}').change(function(){  	  	
  		if( this.value < 0){
  			alert('INGRESE UN VALOR MAYOR A CERO')
  			this.value = 0;	
  		}else if(this.value > {{ product.stock }}){
  			alert('VALOR EXCEDIDO');
  			this.value = '';	
  			this.focus();
  		}

  		var costo_caja = $('#costo_caja_{{product.detalle_pedido_factura}}').html();
  		var nro_cajas = parseFloat(this.value);
  		$('#valor_item_{{product.detalle_pedido_factura}}').val(
  			costo_caja * nro_cajas
  			);

  		addItemValue({
  			'idItem' : {{product.detalle_pedido_factura}},
  			'value' : (costo_caja * nro_cajas),
  		});
  	});

</script>
{% endfor %}
{% endfor %}

