{%  set count = 0 %}
{%  set suma = 0 %}
{% for detail in paidsDetails %}
{%  set count = count + 1 %}
{% set suma = suma + detail.valor %}
{% endfor %}
<div class="row">
	<div class="col-sm-3">

	</div>
	<div class="col-sm-5">&nbsp;</div>
	<div class="col-sm-2">
		<h5 class="text-primary">
			<small>Cant Documentos:</small> <span id="suma"> $ {{ count | number_format(0, '.', ',') }}</span>
		</h5>
	</div>
	<div class="col-sm-2">
		<h5 class="text-primary">
			<small>Sumas:</small> <span id="suma"> $ {{ suma | number_format(2, '.', ',') }}
			</span>
		</h5>
	</div>
</div>


<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr style="background-color: #c1c1c1;">
					<th>#</th>
					<th>Nro Fact</th>
					<th>Proveedor</th>
					<th>Concepto</th>
					<th>Fecha</th>
					<th>Provision</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for detail in paidsDetails %}
				<tr>
					<td>{{ loop.index }}</td>
					<td><span class="fa fa-eye"></span> <a
						href="{{ rute_url }}facturapagos/presentar/{{ detail.id_documento_pago }}">
							{{ detail.nro_factura }}
					</a></td>
					<td><span class="fa fa-pencil"></span> <a
						href="{{ base_url }}detallefacpago/editar/{{ detail.id_detalle_documento_pago }}">
							{{ detail.supplier.nombre | raw }}
					</a></td>
					<td>{{ detail.concepto }}</td>
					<td>
						{% if detail.fecha_emision != null %}
							{{ detail.fecha_emision | date('d/m/Y') }}
						{% endif %}
				</td>
					<td>{{ detail.valor }}</td>
					<td>
						<div class="dropdown">
							<button id="dLabel" type="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"
								class="btn btn-sm btn-default">
								<span class="fa fa-chevron-down"></span> Seleccione
							</button>
							<ul class="dropdown-menu" aria-labelledby="dLabel">
								<li><a
									href="{{ rute_url }}facturapagos/presentar/{{ detail.id_documento_pago }}">
										<span class="fa fa-eye"></span> Ver Documento Pago
								</a></li>
								<li><a
									href="{{ rute_url }}detallefacpago/editar/{{ detail.id_detalle_documento_pago }}">
										<span class="fa fa-pencil"></span> Editar Justificacion
								</a></li>
								<li><a
									href="{{ rute_url }}detallefacpago/eliminar/{{ detail.id_detalle_documento_pago }}">
										<span class="fa fa-trash"></span> Eliminar Justoficación
								</a></li>
							</ul>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-1"></div>
</div>