<div class="text-tittle">Detalle de Facturas del Pedido</div>
<small class="text-primary">
FACTURAS DE PRODUCTOS <strong>{{ money }}</strong>
</small>
<table class="table table-hover table-condensed table-striped">
   <thead>
      <tr>
         <th>#</th>
         <th>Proveedor</th>
         <th>Fecha</th>
         <th>Cajas</th>
         <th>Unidades</th>
         <th>Valor T</th>
         <th>Estado</th>
      </tr>
   </thead>
   <tbody>
      {% for invoice in invoices_order['invoices'] %}    
      <tr>
         <td>{{ loop.index }}</td>
         <td>
            <a href="{{rute_url}}pedidofactura/presentar/{{invoice.id_pedido_factura}}">
            {{invoice.supplier.nombre}} <strong class="text-warning"><small> F: [{{ invoice.id_factura_proveedor }}]</small></strong> 
            </a>
         </td>
         <td>{{invoice.fecha_emision | date('d/m/Y')}}</td>
         <td>{{invoice.detailInvoice.sums.countBoxesProduct | number_format(0,',','.') }}</td>
         <td class="text-right">{{invoice.detailInvoice.sums.unities | number_format(0,',','.') }}</td>
         <td class="text-right" >{{ simbol | raw}} {{invoice.valor  | number_format(2,',','.') }}</td>
         {% if invoice.is_complete ==  true %}
             <td class="success text-right"> 
                <span class="fa fa-check text-success"></span> Completa
             </td>
         {% else %}
             <td class="danger text-right"> 
             <span class="fa fa-ban text-danger"></span>
                <a href="{{rute_url}}pedidofactura/presentar/{{invoice.id_pedido_factura}}">
                Revisar
                </a>
             </td>
         {% endif %}
      </tr>
      {% endfor %}
      <tr class="total-row">
         <td colspan="3">
            <strong>
            Sumas:
            </strong>
         </td>
         <td>
            <strong>
            {{ initial_tributes.boxes | number_format(0,',','.')}}
            </strong>
         </td>
         <td class="text-right">
            <strong>
            {{ initial_tributes.unidades | number_format(0,',','.')}}
            </strong>
         </td>
         <td  class="text-right">
            <strong>  
            {{ simbol | raw}}
            {{ invoices_order.fob_total | number_format(2, '.', ',') }}
            </strong>
         </td>
         <td colspan="2">
            &nbsp;
         </td>
      </tr>
   </tbody>
</table>
<hr>